In [234]:
import pandas as pd

In [320]:
df_trader = pd.read_excel("../pandas-trader/stock_trader.xlsx", sheet_name='TRADES')
df_prices = pd.read_excel("../pandas-trader/stock_trader.xlsx", sheet_name='PRICES')

In [321]:
df_trader = df_trader.loc[:, 'Broker':'Share Price (₹)']
df_trader.rename({'Broker': 'broker', 'Transaction Date': 'txn_date', 'Exchange': 'exchange', 'Scrip': 'scrip', 'Order Direction': 'order_type', 'Quantity': 'quantity', 'Share Price (₹)': 'price',}, axis=1, inplace=True)

df_trader

,broker,txn_date,exchange,scrip,order_type,quantity,price
0,5Paisa,2019-07-11,NSE,INDIGO,buy,10,1360.10
1,5Paisa,2019-08-19,NSE,BAJAJ-AUTO,buy,7,2750.95
2,5Paisa,2019-08-19,NSE,RELIANCE,buy,10,1232.49
3,5Paisa,2019-08-19,NSE,JIOFIN,buy-demerger,10,60.51
4,5Paisa,2019-08-19,NSE,M&M,buy,1,533.85
...,...,...,...,...,...,...,...
251,Zerodha,2024-10-10 00:00:00,NSE,IOB,BUY,150,54.55
252,Zerodha,2024-10-10 00:00:00,NSE,GMDCLTD,BUY,25,326.40
253,Zerodha,2024-10-10 00:00:00,NSE,FLUOROCHEM,SELL,2,4585.00
254,Zerodha,2024-10-15 00:00:00,NSE,BAJAJHFL,BUY,13,138.47
255,Zerodha,2024-10-22 00:00:00,NSE,J&KBANK,SELL,35,93.55

In [354]:
df_prices = df_prices.loc[:, ['Symbol', 'Company.1', 'Price']]
df_prices.rename({'Symbol': 'symbol', 'Company.1':'company', 'Price': 'price'}, axis=1, inplace=True)

df_prices

         symbol                                            company     price
0        360ONE                                360 One Wam Limited   1035.85
1      AARTIIND                               Aarti Industries Ltd    504.85
2    ABBOTINDIA                               Abbott India Limited  28625.85
3           ACC                                        Acc Limited   2270.20
4    ADANIPORTS      Adani Ports And Special Economic Zone Limited   1354.40
..          ...                                                ...       ...
166     WELCORP                               Welspun Corp Limited    719.15
167    WESTLIFE                         Westlife Foodworld Limited    802.40
168        ZEEL              Zee Entertainment Enterprises Limited    124.24
169   ZFCVINDIA  Zf Commercial Vehicle Control Systems India Li...  13971.90
170   ZYDUSWELL                             Zydus Wellness Limited   1837.25

[171 rows x 3 columns]

In [322]:
fields = list(df_trader.keys())

fields

['broker', 'txn_date', 'exchange', 'scrip', 'order_type', 'quantity', 'price']

In [323]:
row_values = [['Alphanity', '2024-10-25', 'NSE', 'HYUNDAI', 'BUY', 21, 1970.00],
              ['Alphanity', '2024-10-25', 'NSE', 'FACT', 'BUY', '10', 986.21],
              ['Alphanity', '2024-10-25', 'NSE', 'FACT', 'BUY', '10', 986.21],
              ['Alphanity', '2024-10-25', 'NSE', 'FACT', 'BUY', '10', 986.21],
              ['Alphanity', '2024-10-25', 'NSE', 'OLAELEC', 'BUY', '195', 89.01]]

new_rows = pd.DataFrame(row_values, columns=fields)
new_rows

      broker    txn_date exchange    scrip order_type quantity    price
0  Alphanity  2024-10-25      NSE  HYUNDAI        BUY       21  1970.00
1  Alphanity  2024-10-25      NSE     FACT        BUY       10   986.21
2  Alphanity  2024-10-25      NSE     FACT        BUY       10   986.21
3  Alphanity  2024-10-25      NSE     FACT        BUY       10   986.21
4  Alphanity  2024-10-25      NSE  OLAELEC        BUY      195    89.01

In [324]:
df_trader = pd.concat([df_trader, new_rows], ignore_index=True)
df_trader.tail(10)

,broker,txn_date,exchange,scrip,order_type,quantity,price
251,Zerodha,2024-10-10 00:00:00,NSE,IOB,BUY,150,54.55
252,Zerodha,2024-10-10 00:00:00,NSE,GMDCLTD,BUY,25,326.40
253,Zerodha,2024-10-10 00:00:00,NSE,FLUOROCHEM,SELL,2,4585.00
254,Zerodha,2024-10-15 00:00:00,NSE,BAJAJHFL,BUY,13,138.47
255,Zerodha,2024-10-22 00:00:00,NSE,J&KBANK,SELL,35,93.55
256,Alphanity,2024-10-25,NSE,HYUNDAI,BUY,21,1970.00
257,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21
258,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21
259,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21
260,Alphanity,2024-10-25,NSE,OLAELEC,BUY,195,89.01

In [325]:
df_trader.drop([258, 259], inplace=True)
df_trader.tail()

,broker,txn_date,exchange,scrip,order_type,quantity,price
254,Zerodha,2024-10-15 00:00:00,NSE,BAJAJHFL,BUY,13,138.47
255,Zerodha,2024-10-22 00:00:00,NSE,J&KBANK,SELL,35,93.55
256,Alphanity,2024-10-25,NSE,HYUNDAI,BUY,21,1970.00
257,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21
260,Alphanity,2024-10-25,NSE,OLAELEC,BUY,195,89.01

In [326]:
df_trader.reset_index(drop=True, inplace=True)
df_trader.tail()

,broker,txn_date,exchange,scrip,order_type,quantity,price
254,Zerodha,2024-10-15 00:00:00,NSE,BAJAJHFL,BUY,13,138.47
255,Zerodha,2024-10-22 00:00:00,NSE,J&KBANK,SELL,35,93.55
256,Alphanity,2024-10-25,NSE,HYUNDAI,BUY,21,1970.00
257,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21
258,Alphanity,2024-10-25,NSE,OLAELEC,BUY,195,89.01

In [350]:
df_trader['quantity'] = pd.to_numeric(df_trader['quantity'])
df_trader.loc[:, 'trade_value'] = df_trader['quantity'] * df_trader['price']
df_trader.tail()

,broker,txn_date,exchange,scrip,order_type,quantity,price,trade_value
254,Zerodha,2024-10-15,NSE,BAJAJHFL,BUY,13,138.47,1800.11
255,Zerodha,2024-10-22,NSE,J&KBANK,SELL,35,93.55,3274.25
256,Alphanity,2024-10-25,NSE,HYUNDAI,BUY,21,1970.00,41370.00
257,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21,9862.10
258,Alphanity,2024-10-25,NSE,OLAELEC,BUY,195,89.01,17356.95

In [401]:
from datetime import date

df_trader['txn_date'] = pd.to_datetime(df_trader['txn_date'])
october_trades = df_trader[df_trader['txn_date'].dt.date >= date(2024,10,1)]
october_trades

,broker,txn_date,exchange,scrip,order_type,quantity,price,trade_value
239,AngelOne,2024-10-01,NSE,POWERGRID,BUY,20,350.40,7008.00
240,AngelOne,2024-10-01,NSE,RENUKA,BUY,100,54.56,5456.00
241,AngelOne,2024-10-04,NSE,AARTIIND,SELL,8,552.00,4416.00
242,Upstox,2024-10-07,unlisted,HEROFINCORP,buy,5,2123.00,10615.00
243,Upstox,2024-10-07,unlisted,COCHINAIRPORT,buy,20,464.00,9280.00
244,Zerodha,2024-10-08,NSE,DATAPATTNS,SELL,2,2380.80,4761.60
245,Zerodha,2024-10-09,NSE,CONCOR,BUY,5,896.30,4481.50
246,Zerodha,2024-10-10,NSE,TITAGARH,BUY,9,1080.00,9720.00
247,Zerodha,2024-10-10,NSE,RCF,BUY,50,183.75,9187.50
248,Zerodha,2024-10-10,NSE,ENGINERSIN,BUY,30,200.30,6009.00
249,Zerodha,2024-10-10,NSE,RVNL,BUY,20,481.40,9628.00
250,Zerodha,2024-10-10,NSE,AARTIIND,BUY,12,527.90,6334.80
251,Zerodha,2024-10-10,NSE,IOB,BUY,150,54.55,8182.50
252,Zerodha,2024-10-10,NSE,GMDCLTD,BUY,25,326.40,8160.00
253,Zerodha,2024-10-10,NSE,FLUOROCHEM,SELL,2,4585.00,9170.00
254,Zerodha,2024-10-15,NSE,BAJAJHFL,BUY,13,138.47,1800.11
255,Zerodha,2024-10-22,NSE,J&KBANK,SELL,35,93.55,3274.25
256,Alphanity,2024-10-25,NSE,HYUNDAI,BUY,21,1970.00,41370.00
257,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21,9862.10
258,Alphanity,2024-10-25,NSE,OLAELEC,BUY,195,89.01,17356.95

In [402]:
october_trades = october_trades.merge(df_prices, left_on='scrip', right_on='symbol', sort=True)

fields = {'price_x':'trade_price', 'price_y':'current_price',}
october_trades.rename(fields, axis=1, inplace=True)

In [416]:
october_trades['current_worth'] = october_trades['quantity'] * october_trades['current_price']
october_trades['nett_gain'] = october_trades['current_worth'] - october_trades['trade_value']

october_trades

,broker,txn_date,exchange,scrip,order_type,quantity,trade_price,trade_value,symbol,company,current_price,current_worth,potential_gain,nett_gain
0,AngelOne,2024-10-04,NSE,AARTIIND,SELL,8,552.00,4416.00,AARTIIND,Aarti Industries Ltd,504.85,4038.8,-377.20,-377.20
1,Zerodha,2024-10-10,NSE,AARTIIND,BUY,12,527.90,6334.80,AARTIIND,Aarti Industries Ltd,504.85,6058.2,-276.60,-276.60
2,Upstox,2024-10-07,unlisted,COCHINAIRPORT,buy,20,464.00,9280.00,COCHINAIRPORT,Cochin International Airport (unlisted),NaN,NaN,NaN,NaN
3,Zerodha,2024-10-09,NSE,CONCOR,BUY,5,896.30,4481.50,CONCOR,Container Corporation Of India Limited,813.80,4069.0,-412.50,-412.50
4,Zerodha,2024-10-08,NSE,DATAPATTNS,SELL,2,2380.80,4761.60,DATAPATTNS,Data Patterns (India) Limited,2258.75,4517.5,-244.10,-244.10
5,Zerodha,2024-10-10,NSE,ENGINERSIN,BUY,30,200.30,6009.00,ENGINERSIN,Engineers India Limited,180.41,5412.3,-596.70,-596.70
6,Alphanity,2024-10-25,NSE,FACT,BUY,10,986.21,9862.10,FACT,Fertilisers And Chemicals Travancore Ltd,836.65,8366.5,-1495.60,-1495.60
7,Zerodha,2024-10-10,NSE,FLUOROCHEM,SELL,2,4585.00,9170.00,FLUOROCHEM,Gujarat Fluorochemicals Limited,4274.90,8549.8,-620.20,-620.20
8,Zerodha,2024-10-10,NSE,GMDCLTD,BUY,25,326.40,8160.00,GMDCLTD,Gujarat Mineral Development Corporation Limited,358.20,8955.0,795.00,795.00
9,Upstox,2024-10-07,unlisted,HEROFINCORP,buy,5,2123.00,10615.00,HEROFINCORP,Hero Fincorp (unlisted),NaN,NaN,NaN,NaN
10,Zerodha,2024-10-10,NSE,IOB,BUY,150,54.55,8182.50,IOB,Indian Overseas Bank,51.66,7749.0,-433.50,-433.50
11,Zerodha,2024-10-22,NSE,J&KBANK,SELL,35,93.55,3274.25,J&KBANK,Jammu And Kashmir Bank Limited,93.90,3286.5,12.25,12.25
12,Alphanity,2024-10-25,NSE,OLAELEC,BUY,195,89.01,17356.95,OLAELEC,Ola Electric Mobility Limited,111.58,21758.1,4401.15,4401.15
13,Zerodha,2024-10-10,NSE,RCF,BUY,50,183.75,9187.50,RCF,Rashtriya Chemicals And Fertilizers Limited,157.60,7880.0,-1307.50,-1307.50
14,Zerodha,2024-10-10,NSE,RVNL,BUY,20,481.40,9628.00,RVNL,Rail Vikas Nigam Limited,441.95,8839.0,-789.00,-789.00
15,Zerodha,2024-10-10,NSE,TITAGARH,BUY,9,1080.00,9720.00,TITAGARH,Titagarh Rail Systems Limited,1166.30,10496.7,776.70,776.70

In [422]:
required_fields = ['txn_date', 'order_type', 'scrip', 'company', 'quantity', 'trade_price', 'current_price', 'nett_gain']
october_trades = october_trades.loc[:, required_fields][pd.notna(october_trades['current_price'])][october_trades['order_type']=='BUY']
october_trades

,txn_date,order_type,scrip,company,quantity,trade_price,current_price,nett_gain
1,2024-10-10,BUY,AARTIIND,Aarti Industries Ltd,12,527.90,504.85,-276.60
3,2024-10-09,BUY,CONCOR,Container Corporation Of India Limited,5,896.30,813.80,-412.50
5,2024-10-10,BUY,ENGINERSIN,Engineers India Limited,30,200.30,180.41,-596.70
6,2024-10-25,BUY,FACT,Fertilisers And Chemicals Travancore Ltd,10,986.21,836.65,-1495.60
8,2024-10-10,BUY,GMDCLTD,Gujarat Mineral Development Corporation Limited,25,326.40,358.20,795.00
10,2024-10-10,BUY,IOB,Indian Overseas Bank,150,54.55,51.66,-433.50
12,2024-10-25,BUY,OLAELEC,Ola Electric Mobility Limited,195,89.01,111.58,4401.15
13,2024-10-10,BUY,RCF,Rashtriya Chemicals And Fertilizers Limited,50,183.75,157.60,-1307.50
14,2024-10-10,BUY,RVNL,Rail Vikas Nigam Limited,20,481.40,441.95,-789.00
15,2024-10-10,BUY,TITAGARH,Titagarh Rail Systems Limited,9,1080.00,1166.30,776.70

In [424]:
round(october_trades['nett_gain'].sum(),2)

661.45