In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('stock_trades.csv')

df = df.astype({
    'txn_date': 'datetime64[ns]',
    'exchange': 'string',
    'scrip': 'string',
    'buy_qty': 'int64',
    'sell_qty': 'int64',
    'buy_price': 'float64',
    'sell_price': 'float64',
    'brokerage': 'float64',
    'stt': 'float64',
    'other_charges': 'float64',
    'total': 'float64'
})

df['qty'] = df['buy_qty'] - df['sell_qty']

In [11]:
df

,txn_date,exchange,scrip,buy_qty,buy_price,sell_qty,sell_price,brokerage,stt,other_charges,total,qty
0,2024-05-22,NSE,AUBANK,10,618.80,0,0.00,15.0,5.76,3.94,-6212.70,10
1,2024-05-22,NSE,BERGEPAINT,15,492.70,0,0.00,15.0,7.39,3.99,-7416.88,15
2,2024-05-22,NSE,CEATLTD,4,2392.55,0,0.00,15.0,9.57,4.07,-9598.84,4
3,2024-05-22,NSE,CREDITACC,5,1412.35,0,0.00,15.0,7.06,3.98,-7087.79,5
4,2024-05-22,NSE,CRISIL,3,4448.25,0,0.00,15.0,13.34,5.22,-13378.31,3
...,...,...,...,...,...,...,...,...,...,...,...,...
145,2024-12-09,NSE,CEATLTD,0,0.00,4,3424.25,15.0,13.70,3.20,13665.10,-4
146,2024-12-09,NSE,CREDITACC,5,928.95,0,0.00,15.0,4.64,3.87,-4668.26,5
147,2024-12-09,NSE,JBMA,4,1611.50,0,0.00,15.0,6.45,3.93,-6471.38,4
148,2024-12-09,NSE,SSDL,24,140.32,0,0.00,15.0,3.37,3.82,-3389.87,24
149,2024-12-09,NSE,WELCORP,0,0.00,10,801.55,15.0,7.95,2.99,7989.56,-10

In [12]:
count = 0
scrips = df['scrip'].sort_values().unique().tolist()
for scrip in scrips:
    count += 1
    if count % 10 == 0 or count == len(scrips):
        print(scrip)
    else:
        print(scrip, end=', ')

AARTIIND, ACC, ADANIPORTS, ANANDRATHI, ANGELONE, ANURAS, ASIANPAINT, ASTERDM, ASTRAL, ATL
ATUL, AUBANK, BAJAJHFL, BATAINDIA, BAYERCROP, BERGEPAINT, BIRLACORPN, CASTROLIND, CEATLTD, CERA
CHEMCRUX, CHOLAFIN, CONCOR, CREDITACC, CRISIL, DATAPATTNS, DEEPAKNTR, EIHOTEL, ENGINERSIN, EQUITASBNK
EXPLEOSOL, FLUOROCHEM, GMDCLTD, GOODYEAR, GRSE, GSPL, HATSUN, HCLTECH, HDFCBANK, HDFCLIFE
HINDALCO, HINDZINC, ICICIGI, INFY, IOB, IRFC, ITC, J&KBANK, JBMA, JYOTHYLAB
KOTAKBANK, KSB, LINDEINDIA, LT, LTIM, LTTS, M&MFIN, MAHSEAMLES, MAXHEALTH, MAZDOCK
MCX, MEDANTA, MON100, NAVINFLUOR, NH, PERSISTENT, PNBHOUSING, POONAWALLA, PRSMJOHNSN, PVRINOX
RAINBOW, RAMCOCEM, RAYMOND, RCF, RHIM, RKFORGE, RVNL, SBILIFE, SCHAEFFLER, SONACOMS
SPARC, SSDL, SUNDRMFAST, SYNGENE, TCS, TITAGARH, TRIDENT, WELCORP, ZEEL, ZFCVINDIA

In [13]:
sold_stock = df.groupby('scrip')[['qty', 'total']].sum().sort_values(by='total', ascending=False)
df_profit = sold_stock[(sold_stock['qty'] == 0) & (sold_stock['total'] > 0)]['total']

df_profit

scrip
CEATLTD       4066.26
BAYERCROP     3118.37
PNBHOUSING    2661.99
WELCORP       2610.29
FLUOROCHEM    2445.47
ICICIGI       2339.88
SBILIFE       2273.55
DEEPAKNTR     2261.96
GSPL          2055.74
ATUL          1838.29
MCX           1669.28
ASTERDM       1550.62
BERGEPAINT     754.27
CASTROLIND     505.38
EXPLEOSOL      248.47
ITC             66.88
CHEMCRUX        11.70
TRIDENT          7.34
Name: total, dtype: float64

In [17]:
df_portfolio = sold_stock[(sold_stock['qty'] != 0)].sort_values(by='total', ascending=True)
df_portfolio['total'] = -round(df_portfolio['total']).astype('int64')

df_portfolio

            qty  total
scrip
ASIANPAINT   10  26470
MAZDOCK       5  22134
INFY         12  17514
KOTAKBANK    10  17047
HCLTECH      12  16266
MON100      101  15830
HDFCBANK     10  14615
ADANIPORTS   10  14002
LTTS          3  13895
ZFCVINDIA     1  13571
IRFC         74  12833
CREDITACC    10  11756
TCS           3  11175
LT            3  11018
JBMA          6  10614
MEDANTA       8  10267
NAVINFLUOR    3  10213
CRISIL        2  10181
LTIM          2   9798
TITAGARH      9   9749
GRSE          5   9711
PERSISTENT    2   9689
RVNL         20   9657
GOODYEAR      8   9283
RCF          50   9216
RHIM         15   9001
JYOTHYLAB    20   8669
IOB         152   8320
GMDCLTD      25   8187
HINDALCO     11   7706
CHOLAFIN      6   7606
LINDEINDIA    1   7285
ACC           3   7058
CERA          1   6975
AARTIIND     12   6360
AUBANK       10   6213
ENGINERSIN   30   6034
SPARC        25   6002
HINDZINC     12   5986
SSDL         36   5452
BIRLACORPN    4   5332
M&MFIN       20   5316
SONACOMS      8   5149
HATSUN        5   5006
KSB           5   4819
MAXHEALTH     6   4699
CONCOR        5   4504
SCHAEFFLER    1   3926
RAYMOND       2   3827
ANURAS        5   3799
POONAWALLA   10   3761
SUNDRMFAST    3   3483
PRSMJOHNSN   20   2967
ASTRAL        1   1971
BAJAJHFL     13   1820
EIHOTEL       2    775

In [18]:
sold_stock = df.groupby('scrip')[['qty', 'total']].sum().sort_values(by='total', ascending=True)
df_loss = sold_stock[(sold_stock['qty'] == 0) & (sold_stock['total'] <= 0)]['total']

df_loss

scrip
PVRINOX      -1350.13
J&KBANK      -1013.43
RAMCOCEM      -987.19
MAHSEAMLES    -951.40
HDFCLIFE      -938.01
EQUITASBNK    -918.38
ANGELONE      -582.59
DATAPATTNS    -551.88
SYNGENE       -551.36
NH            -486.87
ZEEL          -354.72
RAINBOW       -212.62
BATAINDIA     -202.36
ANANDRATHI    -142.95
RKFORGE        -73.72
ATL             -1.92
Name: total, dtype: float64